body{
    margin: 0px;
    font-family: Soehne, system-ui, -apple-sys;
    background-color: black;
}

.first-main{
    height: 742px;
}
.header{
    position: fixed;
    top: 0px;
    display: flex;
    height: 80px;
    width: 100%;
    background: black;
}
.logo-name{
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    height: 50px;
    margin-top: 13px;
    margin-left: 15px;
}
.name{
    display: flex;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    margin-left: -5px;
    color: white;
    z-index: 1;
    
}
.heading-box{
    display: flex;
    width: 600px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
    margin-left: 100px;

}
.heading{
    margin-left: 30px;
}
.heading:hover{
    text-decoration: underline;
}

.down-arrow{
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.8px;
  transform: rotate(45deg);
  margin-bottom: 3px;
}
.on-video{
    position: absolute;
    top:390px;
    left: 275px;
}
.on-video-text{
    font-size: 73px;
    color: white;
    line-height: 73px;
    letter-spacing: -1.46px;
    font-weight: 400;
    margin-bottom: 65px;

}
.on-video-button{
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.15s,color 0.15s;

}
.on-video-button:hover{
    background: white;
    color: black;
}
.pause{
    color: white;
    background: black;
    border: 0.8px solid black;
    padding-top: 12px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 960px;
    font-size: 15px;
    border-radius: 3.6px;
    margin-top: -30px;
}
.inside-button{
    height: 14px;
    width: 5px;
    border-left: 2px solid white;
    border-right: 2px solid white; 
}
.second-main{
    height: 225px;
    display: flex;
    padding-left: 25px;
    padding-top: 35px;
}
.second-content{
    margin-top: 22px;
    flex: 1;
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.28px;
    line-height: 33.6px;
}
.second-content-link{
    color: white;
    font-size: 18px;
    line-height: 23.4px;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
.second-content-link:hover{
    text-decoration-color: grey;
}
.third-main{
    height: 600px;
}
.third-header{
    height: 48px;
    width: 100%;
}
.third-heading{
    display: inline-block;
    margin: 0px;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 44px;
    color: white;
    font-family: Signifier, ui-serif, Georgia;
    font-weight: normal;
}
.third-link{

    font-size: 18px;
    line-height: 23.4px;
    color: white;
    margin-left: 1040px;
    margin-top: -10px;
}
.third-link:hover{
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.third-boxes{
    display: flex;
    padding-left: 20px;
    
}
.third-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    margin-top: 45px;
}
.third-image{
    height: 350px;
    width: 350px;
}
.third-desc{
    flex: 1;
    color: white;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    font-family: Soehne, system-ui, -apple-sy;
    margin-top: 10px;
}
.third-desc:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.third-date{
    font-family: Soehne, system-ui, -apple-sy;
    flex: 1;
    color: white;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;

}
.fourth-main{

    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

}
.fourth-header{
    display: flex;


}
.fourth-heading{
    font-family: Signifier, ui-serif, Georgia;
    font-size: 44px;
    color: white;
    font-weight: 100;
    line-height: 52.8px;
    margin-left: 28px;

}
.fourth-content{
    display: flex;
    flex-direction: column;
}
.fourth-desc{
    margin: 0px;
    margin-left: 310px;
    color: white;
    font-size: 28px;
    letter-spacing: -0.28px;
    line-height: 33.6px;

}
.fourth-link{
    font-size: 18px;
    line-height: 23.4px;
    color: white;
    margin-left: 310px;
    margin-top: 20px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    cursor: pointer;

}
.fourth-link:hover{
    text-decoration-color: rgb(53, 53, 53);
}
.fourth-image{
    margin-top: 100px;
    height: 1193px;
}
.fifth-main{
    height: 650px;
    padding-bottom: 100px;

}
.eighth-main{
    display: flex;
    height: 925px;
    
}
.eighth-content{
    flex: 1fr;
    display: flex;
    flex-direction: column;

}
.eighth-quote{
    font-family: Signifier, ui-serif, Georgia;
    font-size: 51px;
    font-weight: 400;
    letter-spacing: -0.55px;
    line-height: 60.5px;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 2px;
}
.eighth-author{
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 23.4px;
    margin-left: 52px;
    margin-bottom: 0px;
}
.eighth-work{
    color: white;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 52px;

}
.eighth-image{
    width: 723.6px;
    height: 723.6px;
    margin-top: 15px;
    margin-top: 10px;
}
.ninth-main{
    height: 825px;

}
.ninth-heading{
    font-family: Signifier, ui-serif, Georgia;
    font-size: 68px;
    font-weight: 400;
    letter-spacing: -1.46px;
    line-height: 80.3px;
    color: white;
    margin: 0px;
    margin-top: 15px;
    margin-left: 20px;
}
.ninth-button{
    display: flex;
    align-items: center;
    font-size: 28px;
    justify-content: center;
    letter-spacing: -0.28px;
    line-height: 28px;
    background: none;
    color: white;
    border: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 650px;
    padding-left: 650px;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 6.5px;
    transition: background 0.15s, color 0.15s;
}
.ninth-button:hover{
    background: white;
    color: black;
}
.ninth-table{
    font-size: 18px;
    line-height: 23.4px;
    color: white;
    font-size: 18px;
    font-family: Soehne, system-ui, -apple-sys;
    font-weight: 600;
    line-height: 23.4px;
    margin-left: 300px;
    margin-top: 180px;
}
td{
   padding: 0px 75px;
}
.tenth-main{
    height: 500px;
}
.tenth-left-para{
    display: inline-block;
    font-family: Soehne, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    color: white;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: normal;
    margin-left: 30px;
    margin-top: 0px;
}
.tenth-right-para{
    display: flex;
    margin-top: -111px;
    margin-left: 550px;
    color: white;
    font-family: Soehne, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    color: white;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: normal;
}

.tenth-lines{
    margin-top: 100px;
    background: white;
    height: 620px;
    display: flex;
    flex-direction: column;
}
.tenth-line{
    margin-top: 0px;
    background-color: black;
    height: 23px;

}
.underline:hover{
    text-decoration: underline;
}

